.title {
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 0.25em;
}

.topic {
    height: 4em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-weight: bold;
    color: white;
    font-size: 15pt;
    padding-left: auto;
    text-align: center;
    border-bottom: 1px solid white;
    font-family: 'Maven Pro', sans-serif;
    cursor: pointer;
    text-shadow: 0px 1px #000000;
}

.article{

    text-shadow: 2px 2px #DDDDDD;
}

.topic:hover {
    opacity: 0.8;
}

.activate {
    text-decoration: underline;
}

.article {
    font-size: 15pt;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#articlelist {
    margin-left: 3em;
}

#logo {
    height: 2em;
    margin-right: 0.25em;
}

.right {
    float: left;
    width: 80%;
}

.left {
    float: left;
    width: 20%;
}

body {
    padding-top: 4em;

}